@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Ubuntu");
@import url("https://fonts.googleapis.com/css?family=Exo+2|Scada");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab");
/* line 2, ../sass/main.scss */
* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  z-index: 33;
  box-sizing: border-box;
}

/* line 10, ../sass/main.scss */
.container {
  width: 1030px;
  margin: 0 auto;
}

/* line 14, ../sass/main.scss */
body {
  height: 100%;
  background-color: #222222;
}

/* line 18, ../sass/main.scss */
.big {
  width: 100%;
  height: 1173px;
  z-index: 0;
  background: url(../img/background_2.png);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

/* line 27, ../sass/main.scss */
header {
  margin-bottom: 170px;
  border-bottom: 1px solid #2d2d2d;
  background: rgba(0, 0, 0, 0.8);
}
/* line 32, ../sass/main.scss */
header .logo img {
  margin-top: 5px;
  width: 220px;
  height: 88px;
}
/* line 38, ../sass/main.scss */
header .auth {
  float: right;
  font-size: 16px;
  position: relative;
  top: 37px;
}
/* line 43, ../sass/main.scss */
header .auth a {
  font-family: 'Raleway', sans-serif;
  color: white;
  padding: 10px 20px 10px 20px;
  margin: 0;
}
/* line 48, ../sass/main.scss */
header .auth a.login {
  border-right: 1px solid white;
}

/* line 55, ../sass/main.scss */
.wrapper {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
}
/* line 62, ../sass/main.scss */
.wrapper .modal {
  color: white;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 600px;
  height: 300px;
  background: #353535;
}
/* line 70, ../sass/main.scss */
.wrapper .modal .close {
  transition: .6s border-radius;
  margin: 0;
  padding: 0;
  float: right;
  width: 30px;
  height: 30px;
  border: 2px solid #F7CA18;
  position: relative;
  top: 5px;
  right: 5px;
  border-radius: 0;
  transform: scale(0.8);
  cursor: pointer;
}
/* line 83, ../sass/main.scss */
.wrapper .modal .close:hover {
  border-radius: 50%;
  border-color: #fff;
}
/* line 87, ../sass/main.scss */
.wrapper .modal .close:hover div {
  transition: .5s background-color;
  background-color: #fff;
}
/* line 91, ../sass/main.scss */
.wrapper .modal .close div {
  height: 24px;
  width: 2px;
  background: #F7CA18;
  position: relative;
  top: 0px;
  left: 14px;
  bottom: 0;
  right: 0;
  transform: translate(10px);
  transform: scale(0.8);
}
/* line 99, ../sass/main.scss */
.wrapper .modal .close div.line1 {
  transform: rotate(-45deg);
  top: 3px;
}
/* line 103, ../sass/main.scss */
.wrapper .modal .close div.line2 {
  transform: rotate(45deg);
  top: -21px;
}
/* line 109, ../sass/main.scss */
.wrapper .modal form {
  margin-left: 20px;
  font-family: 'Ubuntu', sans-serif;
  position: absolute;
  top: 50px;
}
/* line 114, ../sass/main.scss */
.wrapper .modal form p {
  margin-top: 10px;
}
/* line 117, ../sass/main.scss */
.wrapper .modal form .btn {
  padding: 10px 30px;
  background: #fff;
  border-bottom: 4px solid #F7CA18;
  border-right: 4px solid #F7CA18;
  border-top: 1px solid #F7CA18;
  border-left: 1px solid #F7CA18;
  font-family: 'Exo 2', sans-serif;
  color: white;
  transition: .5s all;
  background: #353535;
}
/* line 128, ../sass/main.scss */
.wrapper .modal form .btn:hover {
  background: #414040;
}
/* line 131, ../sass/main.scss */
.wrapper .modal form .btn:active {
  border-bottom: 1px solid #F7CA18;
  border-right: 1px solid #F7CA18;
}
/* line 137, ../sass/main.scss */
.wrapper .modal .question {
  float: right;
  position: relative;
  top: 110px;
  right: 40px;
  font-family: 'Ubuntu', sans-serif;
}
/* line 143, ../sass/main.scss */
.wrapper .modal .question a {
  color: #F7CA18;
  text-decoration: underline;
  position: relative;
  left: 45px;
  top: 10px;
}

/* line 154, ../sass/main.scss */
#wrapper2 .modal {
  height: 350px;
}
/* line 156, ../sass/main.scss */
#wrapper2 .modal .question {
  right: 25px;
}
/* line 158, ../sass/main.scss */
#wrapper2 .modal .question a {
  left: 80px;
}

/* line 164, ../sass/main.scss */
nav {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  height: 50px;
}
/* line 170, ../sass/main.scss */
nav a {
  color: #ffffff;
  transition: .3s background;
  font-family: 'Ubuntu', sans-serif;
  font-size: 19px;
  flex-grow: 1;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  text-align: center;
  border-right: 1px solid white;
  padding-top: 12px;
  background: rgba(0, 0, 0, 0.7);
}
/* line 183, ../sass/main.scss */
nav a:last-child {
  border: 0;
}
/* line 186, ../sass/main.scss */
nav a:hover {
  background: rgba(0, 0, 0, 0.9);
  border-bottom: 3px solid #f1c91a;
}

/* line 193, ../sass/main.scss */
.main .container {
  height: 1690px;
  background: #ffffff;
}
/* line 196, ../sass/main.scss */
.main .container .line {
  margin-left: 15px;
  margin-right: 15px;
}
/* line 199, ../sass/main.scss */
.main .container .line .main-video {
  background: #000;
  margin-top: 35px;
  min-height: 465px;
  float: left;
  width: 80%;
  border: 1px solid black;
}
/* line 207, ../sass/main.scss */
.main .container .line .sidebar {
  margin-top: 35px;
  min-height: 465px;
  width: 19%;
  float: left;
  margin-left: 10px;
  display: flex;
  flex-flow: column;
}
/* line 215, ../sass/main.scss */
.main .container .line .sidebar .block {
  border: 1px solid black;
  background: #000;
  width: inherit;
  flex-grow: 1;
  width: 100%;
  margin-bottom: 15px;
}
/* line 223, ../sass/main.scss */
.main .container .line .sidebar .block3 {
  margin-bottom: 0;
}
/* line 226, ../sass/main.scss */
.main .container .line .sidebar p {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  font-size: 18px;
  margin-bottom: 5px;
}
