@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Ubuntu");
@import url("https://fonts.googleapis.com/css?family=Exo+2|Scada");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab");
/* line 2, ../sass/main.scss */
* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  z-index: 33;
  box-sizing: border-box;
}

/* line 10, ../sass/main.scss */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/* line 18, ../sass/main.scss */
.clearfix {
  display: inline-block;
}

/* line 20, ../sass/main.scss */
* html .clearfix {
  height: 1%;
}

/* line 21, ../sass/main.scss */
.clearfix {
  display: block;
}

/* line 23, ../sass/main.scss */
.container {
  width: 1030px;
  margin: 0 auto;
}

/* line 27, ../sass/main.scss */
body {
  height: 100%;
  background-color: #222222;
}

/* line 31, ../sass/main.scss */
.big {
  height: 1089px;
  z-index: 0;
  background: url(../img/background_2.png);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
}

/* line 40, ../sass/main.scss */
header {
  margin-bottom: 170px;
  border-bottom: 1px solid #2d2d2d;
  background: rgba(0, 0, 0, 0.8);
  min-height: 100px;
}
/* line 46, ../sass/main.scss */
header .logo img {
  margin-top: 5px;
  width: 220px;
  height: 88px;
}
/* line 52, ../sass/main.scss */
header .logo span {
  color: #f5f5f5;
  font-size: 30px;
  position: relative;
  top: -13px;
}
/* line 59, ../sass/main.scss */
header .auth {
  float: right;
  font-size: 16px;
  position: relative;
  top: 37px;
}
/* line 64, ../sass/main.scss */
header .auth a {
  font-family: 'Raleway', sans-serif;
  color: white;
  padding: 10px 20px 10px 20px;
  margin: 0;
}
/* line 69, ../sass/main.scss */
header .auth a.login {
  border-right: 1px solid white;
}
/* line 72, ../sass/main.scss */
header .auth a:hover {
  color: #b5b5b5;
}

/* line 79, ../sass/main.scss */
.wrapper {
  z-index: 9999;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
}
/* line 87, ../sass/main.scss */
.wrapper .modal {
  color: white;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  max-width: 600px;
  height: 300px;
  background: #353535;
}
/* line 95, ../sass/main.scss */
.wrapper .modal .close {
  transition: .6s border-radius;
  margin: 0;
  padding: 0;
  float: right;
  width: 30px;
  height: 30px;
  border: 2px solid #F7CA18;
  position: relative;
  top: 5px;
  right: 5px;
  border-radius: 0;
  transform: scale(0.8);
  cursor: pointer;
  font-size: 24px;
  text-align: center;
}
/* line 110, ../sass/main.scss */
.wrapper .modal .close:hover {
  border-radius: 50%;
  border-color: #fff;
}
/* line 114, ../sass/main.scss */
.wrapper .modal .close:hover div {
  transition: .5s background-color;
  background-color: #fff;
}
/* line 119, ../sass/main.scss */
.wrapper .modal form {
  margin-left: 20px;
  font-family: 'Ubuntu', sans-serif;
  position: absolute;
  top: 50px;
}
/* line 124, ../sass/main.scss */
.wrapper .modal form p {
  margin-top: 10px;
}
/* line 127, ../sass/main.scss */
.wrapper .modal form .btn {
  padding: 10px 30px;
  background: #fff;
  border-bottom: 4px solid #F7CA18;
  border-right: 4px solid #F7CA18;
  border-top: 1px solid #F7CA18;
  border-left: 1px solid #F7CA18;
  font-family: 'Exo 2', sans-serif;
  color: white;
  transition: .5s all;
  background: #353535;
}
/* line 138, ../sass/main.scss */
.wrapper .modal form .btn:hover {
  background: #414040;
}
/* line 141, ../sass/main.scss */
.wrapper .modal form .btn:active {
  border-bottom: 1px solid #F7CA18;
  border-right: 1px solid #F7CA18;
}
/* line 147, ../sass/main.scss */
.wrapper .modal .question {
  float: right;
  position: relative;
  top: 110px;
  right: 40px;
  font-family: 'Ubuntu', sans-serif;
}
/* line 153, ../sass/main.scss */
.wrapper .modal .question a {
  color: #F7CA18;
  text-decoration: underline;
  position: relative;
  left: 45px;
  top: 10px;
}

/* line 164, ../sass/main.scss */
#wrapper2 .modal {
  height: 350px;
}
/* line 166, ../sass/main.scss */
#wrapper2 .modal .question {
  right: 25px;
}
/* line 168, ../sass/main.scss */
#wrapper2 .modal .question a {
  left: 80px;
}

/* line 174, ../sass/main.scss */
nav {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  height: 50px;
}
/* line 180, ../sass/main.scss */
nav a {
  color: #ffffff;
  transition: .3s background;
  font-family: 'Ubuntu', sans-serif;
  font-size: 19px;
  flex-grow: 1;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  text-align: center;
  border-right: 1px solid white;
  padding-top: 12px;
  background: rgba(0, 0, 0, 0.7);
}
/* line 192, ../sass/main.scss */
nav a:last-child {
  border: 0;
}
/* line 195, ../sass/main.scss */
nav a:hover {
  background: rgba(0, 0, 0, 0.9);
  border-bottom: 3px solid #f1c91a;
}

/* line 202, ../sass/main.scss */
.main .container {
  background: #ffffff;
  margin-bottom: 35px;
}
/* line 205, ../sass/main.scss */
.main .container .flex {
  display: flex;
}
/* line 207, ../sass/main.scss */
.main .container .flex .col-1 {
  flex: 1;
}
/* line 210, ../sass/main.scss */
.main .container .flex .col-2 {
  flex: 2;
}
/* line 213, ../sass/main.scss */
.main .container .flex .col-3 {
  flex: 3;
}
/* line 216, ../sass/main.scss */
.main .container .flex .col-4 {
  flex: 4;
}
/* line 219, ../sass/main.scss */
.main .container .flex .col-5 {
  flex: 5;
}
/* line 222, ../sass/main.scss */
.main .container .flex .col-6 {
  flex: 6;
}
/* line 226, ../sass/main.scss */
.main .container .line1 {
  height: 500px;
  margin-left: 10px;
  margin-right: 10px;
}
/* line 230, ../sass/main.scss */
.main .container .line1 .main-video, .main .container .line1 .sidebar {
  background: #000;
  margin: 15px 0 0 0;
}
/* line 234, ../sass/main.scss */
.main .container .line1 .sidebar {
  margin-left: 5px;
  background: rgba(0, 0, 0, 0.5);
  flex-direction: column;
}
/* line 238, ../sass/main.scss */
.main .container .line1 .sidebar p {
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  text-align: center;
}
/* line 243, ../sass/main.scss */
.main .container .line1 .sidebar .block {
  background: #000;
  margin: 5px 0 0 0;
}
/* line 246, ../sass/main.scss */
.main .container .line1 .sidebar .block.block1 {
  margin: 0;
}
/* line 252, ../sass/main.scss */
.main .container .line2 {
  margin-top: 15px;
  height: 1020px;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 15px;
}
/* line 258, ../sass/main.scss */
.main .container .line2 .info, .main .container .line2 .vid {
  background: #000;
}
/* line 261, ../sass/main.scss */
.main .container .line2 .vid {
  margin-left: 5px;
}
/* line 263, ../sass/main.scss */
.main .container .line2 .vid #vk_groups {
  margin-bottom: 10px;
}

/* line 270, ../sass/main.scss */
footer {
  margin-top: 50px;
  font-family: 'Ubuntu', sans-serif;
  min-height: 60px;
  width: 100%;
  background: #353535;
  border-radius: 0 0 3px 3px;
  display: flex;
}
/* line 278, ../sass/main.scss */
footer .text {
  text-align: center;
  margin-left: 10px;
  color: white;
  flex: 1;
}
/* line 282, ../sass/main.scss */
footer .text span {
  color: #b5b5b5;
}
/* line 287, ../sass/main.scss */
footer .a {
  text-align: center;
  flex: 1;
}
/* line 289, ../sass/main.scss */
footer .a a {
  padding-right: 10px;
  padding-left: 10px;
  color: #F7CA18;
  border-right: 1px solid #717171;
}
/* line 293, ../sass/main.scss */
footer .a a:hover {
  text-decoration: underline;
}
/* line 297, ../sass/main.scss */
footer .a a:last-child {
  border: 0;
}

@media screen and (max-width: 1024px) {
  /* line 2, ../sass/_media.scss */
  .container {
    width: 800px;
  }
}
@media screen and (max-width: 800px) {
  /* line 7, ../sass/_media.scss */
  .container {
    width: 600px;
  }

  /* line 10, ../sass/_media.scss */
  header {
    min-height: 75px;
  }
  /* line 13, ../sass/_media.scss */
  header .logo img {
    width: 154px;
    height: 61.6px;
  }
  /* line 17, ../sass/_media.scss */
  header .logo span {
    font-size: 23px;
    top: -10px;
  }
  /* line 22, ../sass/_media.scss */
  header .auth {
    top: 28px;
    font-size: 14px;
  }

  /* line 27, ../sass/_media.scss */
  .line1 {
    min-height: 1500px;
    flex-direction: column;
  }
  /* line 30, ../sass/_media.scss */
  .line1 .main-video {
    flex-grow: 1 !important;
  }
  /* line 33, ../sass/_media.scss */
  .line1 .sidebar {
    flex-grow: 3 !important;
    margin-left: 0;
  }

  /* line 39, ../sass/_media.scss */
  .line2 .vid {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  /* line 45, ../sass/_media.scss */
  .container {
    width: 300px;
  }

  /* line 48, ../sass/_media.scss */
  header {
    display: flex;
    flex-direction: column;
  }
  /* line 51, ../sass/_media.scss */
  header .auth {
    float: none;
    position: inherit;
    text-align: center;
    margin-top: 20px;
    padding-bottom: 15px;
  }

  /* line 60, ../sass/_media.scss */
  nav a {
    font-size: 15px;
  }

  /* line 64, ../sass/_media.scss */
  .line1 {
    min-height: 800px;
    flex-direction: column;
  }
  /* line 67, ../sass/_media.scss */
  .line1 .main-video {
    flex-grow: 1 !important;
  }
  /* line 70, ../sass/_media.scss */
  .line1 .sidebar {
    flex-grow: 3 !important;
    margin-left: 0;
  }

  /* line 75, ../sass/_media.scss */
  .question {
    display: none;
  }
}
